{% extends 'base.twig' %}


{% block precontent %}
 
{% endblock %}

{% block content %}
  {# DEBUG -- dump all variables
  <section> <pre>{{ dump() }}</pre> </section>
  #}
  <section id="section-posts">
    <div class="container">
      <div class="projects-div">
        <div class="row">
          <div class="col-xs-12">
            <div class="page-header">
              <center><h1 id="news">Projects</h1></center>
            </div>
          </div>
        </div>
        <div class="row">

        {% if projects|length > 0 %}
          <h3>Software Projects</h3>
          <ul>
            {% for project in projects %}
              {% if project.type == "software" %}
                <li>
                  <h4>{{ project.name }}</h4><br/>
                  {{ project.description }}<br/>
                  <b>URL:</b> <a href="{{ project.url }}">{{ project.url }}</a>
                </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          <h3>Hardware Projects</h3>
            <ul>
            {% for project in projects %}
              {% if project.type == "hardware" %}
                <li>
                  <h4>{{ project.name }}</h4><br/>
                  {{ project.description }}<br/>
                  <b>URL:</b> <a href="{{ project.url }}">{{ project.url }}</a>
                </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          {% else %}
            No Projects!
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}